.navbar{
    // background-color: var(--color-primary-1);
    // background: rgba(23, 20, 41, 0.5);
    background: rgba(23, 20, 41, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    // backdrop-filter: blur(20px);
    &__logo{
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #FFFFFF;
    }

    &__search{
        color: #FFFFFF;
        &--input{
            
            background-color: inherit;
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            width: 400.5px;
            color: #FFFFFF !important;
            outline: none;
            // border: none;
            // font-family: Kumbh Sans;

            &:focus,&:active{
                border:  1.5px solid #FFFFFF;
            }
            ::placeholder{
             
                color: #FFFFFF !important;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
            }
            
        }
    }

    &__home{
        &--btn{
            background: #39EAB4;
            border-radius: 20px;
            border: none;
            width: 73.25px;
            height: 30.5px;

            font-family: Kumbh Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #171429;

        }
    }

    &__about{
        &--link{
            width: 80px;
            height: 14px;

            font-family: Kumbh Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;

            &:hover{
                color: #FFFFFF;
            }
        }
    }

    &__heart{

        &--icon{
            width: 20.81px;
            height: 18.5px;
            color: #39EAB4 !important;
            // border: 2.5px solid #39EAB4 !important;
        }
    }

    &__host{

        &--btn{
            width: 103.5px;
            height: 30px;
            border: none;

            background: #39EAB4;
            border-radius: 5px;
        }
    }

    &__dropdown{

        &--input{
            background-color: inherit;
            width: 115px;
            height: 30px;
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 5px;
            outline: none;

            font-family: Kumbh Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;
            text-align-last:center;

           

        }

    

        &--option{
            background-color:rgba(23, 20, 41, 0.5); ;
        }
    }
}
