.eventCardsContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 36px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.eventCardsContainer {
		justify-content: center;
	}
}
