.page-text {
	display: block;
	color: white;
	font-size: 16px;
	text-align: center;
	margin: 10px auto;
}

.nav-link {
	display: inline-block;
	padding: 8px 16px;
	border: none;
	border-radius: 20px;
	margin-left: 1rem;
	transition: 0.1s;
}

.active-link {
	color: var(--color-primary-1);
	background: var(--color-secondary-3);
}
