html {
	box-sizing: border-box;
	// scroll-behavior: smooth;
	font-family: sans-serif;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	// -webkit-text-size-adjust: none;
}

body {
	position: relative;
	overflow-x: hidden;
	background-color: var(--color-primary-1);
	// font-family: Montserrat;
	font-family: inherit;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

input,
select,
textarea,
button {
	border: none;
	outline: none;
	font-family: inherit;
}

button {
	cursor: pointer;
}

:root {
	--color-primary-1: #171429;
	--color-primary-2: #2b244d;
	--color-primary-3: #524690;
	--color-primary-4: #877cc0;
	--color-primary-5: #c6c1e1;
	--color-secondary-1: #12ab7d;
	--color-secondary-2: #17daa2;
	--color-secondary-3: #39eab4;
	--color-semantic-1: #eb4746;
	--color-semantic-2: #ecea47;
	--color-semantic-3: #eb9947;
	--color-text-1: #040308;
	--color-text-2: #e6e4f2;
	--color-grey-1: #34323f;
	--color-grey-2: #646176;
	--color-grey-3: #9794a7;
}

// @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=League+Script&display=swap');
