a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

fieldset {
	border: none;
}

input,
select,
textarea {
	border: none;
	outline: none;
	color: inherit;
	font-family: inherit;
	transition: all 0.1s;

	&:focus {
		box-shadow: 0 0 0 2px var(--color-secondary-1);
	}
}

textarea {
	resize: none;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	outline: none;
}

option {
	font-family: inherit;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
}

ul {
	list-style: none;
}

// img {
// 	width: 100%;
// 	height: auto;
// 	object-fit: scale-down;
// }

@media (prefers-reduced-motion: reduce) {
	*,
	*::after,
	*::before {
		scroll-behavior: auto;
		animation: none !important;
		transition: none !important;
	}
}
