.eventPage {
	width: 100%;
	background-color: var(--color-primary-1);
	justify-content: space-between;

	.inner {
		margin-top: 68.35px;
		margin-right: 43.25px;
		margin-left: 51px;
		//    margin-bottom: 74.35px;
	}

	.hero {
		display: flex;
		// justify-content: space-between;
		.left {
			// width: ;
			flex-basis: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 46px;
		}

		.right {
			flex-basis: 200px;
			margin-right: 46px;
		}
	}

	.tags {
		margin-top: 78.55px;
	}

	.overview {
		margin-top: 104.73px;
	}

	.speakers {
		margin-top: 137px;
	}

	.eventdetails {
		margin-top: 169.25px;
	}

	.timeline {
		margin-top: 185.25px;
	}

	.messageboard {
		margin-top: 216.13px;
	}

	.organizersmessage {
		margin-top: 162.3px;
	}

	.similarevents {
		background: linear-gradient(360deg, #524690 -64.51%, #171429 100%);
		padding-bottom: 74.35px;
	}
}
