.profilePage {
	background-color: var(--color-primary-1);
	padding-bottom: 60px;

	&__bottom {
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
		background-color: var(--color-primary-1);
		padding: 0 4vw;

		&__left {
			margin-top: -271px;
			margin-bottom: 19px;
		}
		&__right {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.profilePage__bottom {
		flex-direction: column;

		&__left {
			margin-top: 20px;
		}
	}
}
