.profilepage{
    background-color: var(--color-primary-1);
}

.profile{
    background-color: var(--color-primary-1);
    display: flex;
    justify-content: space-between;
    // width: 100vw;
 

    // &__top{
    //     overflow-x: hidden;
    // }
    &__left{
        margin-left: 37px;
        // background-color: red;
        &--profilecard{
            margin-top: -271px;
            margin-bottom: 19px;
        }

        &--connectionbtn{
            margin-bottom: 24px;
        }

        // &--followbtn{

        // }
    }

    &__right{
        margin-right: 45px;
        
        &--about{
            margin-top: 50.34px;
        }

        &--hostedevents{
            margin-top: 52.45px;

        }

        &--eventsattended{
            margin-top: 62.1px;
        }
    }

    &__footer{
        margin-top: 90px;
    }
}