.registerEvent {
	background: linear-gradient(to bottom, #524690 -64.51%, #171429 100%);
	// transform: rotate(-180deg);
	// height:1000px;
	button {
		border: none;
		cursor: pointer;
	}

	&_body {
		// height: 1000px;
		margin-top: 100px;
		margin-bottom: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.header {
			font-family: Montserrat;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			color: #e6e4f2;
			margin-bottom: 30px;
		}

		.tickets {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.addTicket div {
				display: inline-block;
			}

			.addTicket {
				margin-bottom: 20px;
				// padding:10px;
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 20px;

				color: #e6e4f2;

				border: 1px solid #39eab4;
				box-sizing: border-box;
				width: Min(100%, 1000px);
				border-radius: 10px;
				padding: 10px 10px;
				display: grid;
				grid-template-columns: 0.2fr 1fr 1fr 1fr 0.1fr 1fr;
				grid-template-rows: 1fr;
				input {
					background-color: transparent;
					border: none;
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 20px;
					margin-right: 5px;
					color: #e6e4f2;
				}
			}

			.addParticipantBtn {
				width: 291px;
				height: 37px;
				margin-top: 30px;

				font-family: Montserrat;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;

				color: #39eab4;
				background: rgba(57, 234, 180, 0.2);
				border-radius: 10px;
			}
		}
	}

	.registerEventButton {
		width: 268px;
		height: 37px;
		margin-top: 100px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;

		color: #2b244d;
		background: #39eab4;
		border-radius: 10px;
	}
}
