.registerContainer{
	background: var(--color-primary-1);
	// background: #2B244D;
	display: flex;
	justify-content: center;
	align-items: center;

}

.signin{
	width: 525px;
	min-height: 298px;
	margin-top:50px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	// background: var(--color-primary-1);
	background: #2B244D;

	border-radius: 10px;
	display: inline-flex;
	flex-direction: column;
	// display: inline;
	align-items: center;
	&__heading{
		margin-top: 33px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		
		color: #E6E4F2;
		
	}

	&__mid{
		width: 458px;
		margin-top: 10px;
		display: inline-block;
		&--before{
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			display: inline-block;
			margin-top: 20px;
			color: #E6E4F2;
			
		}

		&--input{
			width: 458px;
			height: 46px;
			background: rgba(230, 228, 242, 0.2);
			border: 1px solid #E6E4F2;
			box-sizing: border-box;
			border-radius: 10px;
			color:  #E6E4F2;
			margin-top: 16px;
			padding-left: 15px;
			&:focus{
				outline: none;
			}
			&::placeholder{
				// font-family: 'League Script', cursive;
				// padding-left: 15px;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 13px;
				margin-bottom: 17px;
				color: rgba(230, 228, 242, 0.5);
				
			}
		}
	}

	&__btn{
		width: 281px;
		height: 46px;
		cursor: pointer;
		background: #39EAB4;
		border-radius: 10px;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 37px;
		color: #2B244D;
		border: none;
		&:focus{
			outline: none;
		}
	}
}