.mainHeader {
	position: relative;
	z-index: 2;
	color: #ffffff;
	background-color: var(--color-primary-1);
	font-family: Montserrat;
	height: 54px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	// backdrop-filter: blur(20px);

	&__desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 45px;
		height: 100%;

		&__middle {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-grow: 1;
			margin: auto 1rem;

			&__dashboard__text {
				color: var(--color-secondary-3);
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	&__logo {
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
	}

	&__location-wrapper {
		position: relative;

		select {
			display: block;
			background-color: transparent;
			background-position: calc(100% - 10px);
			background-size: 16px;
			background-repeat: no-repeat;
			padding: 8px 16px;
			border: 1.5px solid #ffffff;
			border-radius: 5px;
			width: 100%;
			// pointer-events: none

			&:focus,
			&:active {
				box-shadow: none;
			}

			option {
				background-color: var(--color-primary-1);
				padding: 10px;
			}
		}
	}

	&__search-wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		background: var(--color-primary-1);
		width: 400px;

		input {
			background-color: inherit;
			background-position: 8px;
			background-size: 16px;
			background-repeat: no-repeat;
			border-radius: 5px;
			padding: 8px 8px 8px 32px;
			border: 1.5px solid #ffffff;
			width: 100%;
			transition: 0.2s;

			&:focus,
			&:active {
				box-shadow: none;
			}

			&::placeholder {
				line-height: 14px;
			}
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__profile-dropdown {
		display: inline-block;
		position: relative;
		font-size: 1rem;
		pointer-events: auto;

		// &:focus-within .profile-menu {
		// 	opacity: 1;
		// 	pointer-events: auto;
		// }

		// &:not(:focus-within) .profile-menu {
		// 	display: none;
		// }

		&--button {
			background-color: transparent;

			// &:focus {
			// 	outline: 2px solid var(--color-secondary-3);
			// }
			// &:focus-within + .profile-menu {
			// 	display: block;
			// }
			// &:not(:focus) + .profile-menu {
			// 	display: none;
			// }
		}

		.profile-icon {
			color: var(--color-secondary-3);
			font-size: 20px;
			padding: 10px;
		}

		.profile-menu {
			display: none;
			// opacity: 0;
			position: absolute;
			z-index: 2;
			top: 55px;
			left: 100%;
			transform: translateX(-100%);
			background-color: var(--color-primary-2);
			padding: 20px 30px;
			width: 250px;
			border-radius: 10px;
			// box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
			transition: opacity 0.1s ease-out;
			// pointer-events: none;

			.profile-details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					width: 64px;
					border-radius: 50%;
				}

				h3 {
					font-size: 22px;
					font-weight: 500;
					margin: 15px auto;
				}

				hr {
					color: var(--color-grey-3);
				}
			}

			ul.profile-links {
				li {
					list-style: none;
					text-align: center;
					margin-top: 12px;
					width: 100%;

					a {
						display: inline-block;
						padding: 6px;
						width: 100%;
						border-radius: 5px;
						transition: 0.1s;

						&:hover,
						&:focus {
							background-color: var(--color-primary-3);
							// border: 1px solid var(--color-secondary-3);
						}
					}

					button.logout {
						color: var(--color-semantic-1);
						background-color: transparent;
						font-size: 14px;
						padding: 6px;
						width: 100%;
						border-radius: 5px;
						transition: 0.1s;

						&:hover,
						&:focus {
							color: var(--color-text-2);
							background-color: var(--color-semantic-1);
						}
					}
				}
			}
		}

		.profile-menu-open {
			display: block;
			// opacity: 1;
			// pointer-events: auto;
		}
	}

	&__mobile {
		display: none;
		background-color: var(--color-primary-1);
		height: 100%;
		padding: 0 10px;

		&__toggle--hamburger,
		&__toggle--close {
			display: block;
			position: relative;
			color: var(--color-secondary-3);
			background-color: transparent;
			font-size: 20px;
			padding: 1rem;

			// &:focus {
			// 	outline: 2px solid var(--color-secondary-3);
			// }
		}

		&__toggle--close {
			margin-left: 10px;
		}

		&__sidebar {
			position: fixed;
			z-index: 3;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100vw;
			height: 100vh;
			background: var(--color-primary-1);
			// transform: translateX(-100%);
			transform: scale(0);
			opacity: 0;
			transition: transform ease-in-out 0.2s, opacity ease-in-out 0.2s;
			pointer-events: none;

			&--open {
				transform: scale(1);
				opacity: 1;
				pointer-events: auto;
			}
		}

		&__profile {
			min-width: 40px;
		}
	}
}

// ========================================================

@media screen and (max-width: 1024px) {
	.mainHeader {
		&__desktop {
			display: none;
		}

		&__mobile {
			display: flex;
			justify-content: space-between;
			align-items: center;

			// &__hamburger {
			// 	// position: fixed;
			// }

			// &__profile {
			// 	justify-self: end;
			// }
		}

		// &__logo {
		// 	justify-self: center;
		// }

		&__links {
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
			height: 100%;
		}
	}
}
