.navbar {
	position: relative;
	z-index: 1;
	// display: grid;
	// grid-template-areas: 'left location search middle right';
	color: #ffffff;
	background-color: var(--color-primary-1);
	height: 54px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	// backdrop-filter: blur(20px);

	&__desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 45px;
		height: 100%;

		&__middle {
			// grid-area: middle;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-grow: 1;

			&__dashboard__text {
				/* Host Dashboard */

				color: var(--color-secondary-3);
				font-family: Montserrat;
				font-style: normal;
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
			}
		}
	}

	&__logo {
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
		grid-area: left;
	}

	&__location-wrapper {
		position: relative;
		grid-area: location;

		select {
			display: block;
			color: white;
			background-color: transparent;
			background-position: 100px center;
			background-size: 16px;
			background-repeat: no-repeat;
			padding: 8px 16px;
			border: 1.5px solid #ffffff;
			border-radius: 5px;
			width: 100%;
			outline: none;
			appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			-moz-appearance: none;
			transition: 0.1s;
			// pointer-events: none

			&:focus,
			&:active {
				box-shadow: 0 0 8px var(--color-grey-3);
				// outline: 4px solid white;
			}

			option {
				background-color: var(--color-primary-1);
				padding: 10px;
			}
		}
	}

	&__search-wrapper {
		grid-area: search;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		background: var(--color-primary-1);
		width: 400px;

		input {
			color: white;
			background-color: inherit;
			background-position: 8px;
			background-size: 16px;
			background-repeat: no-repeat;
			border: none;
			border-radius: 5px;
			outline: none;
			padding: 8px 8px 8px 32px;
			border: 1.5px solid #ffffff;
			width: 100%;
			transition: 0.2s;

			&:focus,
			&:active {
				box-shadow: 0 0 8px var(--color-grey-3);
				// outline: 4px solid white;
			}

			&::placeholder {
				font-style: normal;
				font-weight: normal;
				line-height: 14px;
			}
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.nav-link {
			padding: 8px 16px;
			border: none;
			border-radius: 20px;
			margin-left: 1rem;
			transition: 0.1s;
		}

		.active-link {
			color: var(--color-primary-1);
			background: var(--color-secondary-3);
		}
	}

	&__profile-dropdown {
		grid-area: right;
		display: inline-block;
		position: relative;
		font-size: 1rem;
		pointer-events: auto;
		margin-left: 1rem;

		&:focus-within .profile-options {
			opacity: 1;
			pointer-events: auto;
		}

		.profile-icon {
			color: var(--color-secondary-3);
			font-size: 20px;
			cursor: pointer;
			padding: 10px;
		}

		.profile-options {
			position: absolute;
			z-index: 2;
			top: 55px;
			left: 100%;
			transform: translateX(-100%);
			color: white;
			background-color: var(--color-primary-2);
			padding: 20px 30px;
			width: 250px;
			border-radius: 10px;
			// box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: opacity 0.2s ease-out;
			pointer-events: none;

			.profile-details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					width: 64px;
					border-radius: 50%;
				}

				h3 {
					font-size: 22px;
					font-weight: 500;
					margin: 15px auto;
				}

				hr {
					color: var(--color-grey-3);
				}
			}

			ul.profile-links {
				li {
					list-style: none;
					text-align: center;
					margin-top: 12px;
					width: 100%;

					a {
						display: inline-block;
						padding: 6px;
						width: 100%;
						border-radius: 5px;
						transition: 0.1s;

						&:hover,
						&:focus {
							background-color: var(--color-primary-3);
							// border: 1px solid var(--color-secondary-3);
						}
					}

					button.logout {
						color: var(--color-semantic-1);
						background-color: transparent;
						font-size: 14px;
						padding: 6px;
						width: 100%;
						border-radius: 5px;
						transition: 0.1s;

						&:hover,
						&:focus {
							color: var(--color-text-2);
							background-color: var(--color-semantic-1);
						}
					}
				}
			}
		}
	}

	&__mobile {
		display: none;
		background-color: var(--color-primary-1);
		height: 100%;
		padding: 0 10px;

		&__hamburger {
			position: relative;
			z-index: 3;
			color: var(--color-secondary-3);
			background-color: transparent;
			padding: 12px;
			border: 1px solid var(--color-secondary-3);
			display: block;
			font-size: 1rem;
			border: 0;
			background: 0;
			padding: 1em;
			cursor: pointer;
			z-index: 4;

			&:focus {
				outline: 4px solid #ebebd3;
			}

			.fa-times,
			.fa-bars {
				font-size: 20px;
			}

			.fa-times {
				display: none;
			}

			&.open {
				.fa-times {
					display: block;
				}
				.fa-bars {
					display: none;
				}
			}
		}

		&__sidebar {
			position: fixed;
			z-index: 3;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100vw;
			height: 100vh;
			background: var(--color-primary-1);
			// transform: translateX(-100%);
			transform: scale(0%);
			opacity: 0;
			transition: transform ease 0.2s;

			&--open {
				display: block;
				transform: scale(100%);
				opacity: 1;

				&:focus {
					outline: none;
				}
			}
		}
	}
}

// ========================================================

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	75% {
		opacity: 0.2;
		transform: translateX(0);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	70% {
		opactiy: 0;
	}
	100% {
		opacity: 0;
		transform: translateX(500px);
	}
}

@media screen and (max-width: 1024px) {
	.navbar {
		&__desktop {
			display: none;
		}

		&__mobile {
			display: grid;
			grid-template-areas: 'left center right';
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-between;
			align-items: center;

			&__hamburger {
				position: fixed;
				grid-area: left;
			}

			&__profile {
				grid-area: right;
				justify-self: end;
			}
		}

		&__logo {
			grid-area: center;
			justify-self: center;
		}

		&__links {
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
			height: 100%;
		}
	}
}
