.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 54px;
	color: #ffffff;
	background-color: var(--color-primary-1);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	// backdrop-filter: blur(20px);

	.logo {
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		line-height: 38px;
	}

	.select-wrapper {
		position: relative;
		border: 1px solid #ffffff;

		select {
			display: block;
			width: 100%;
			padding: 8px 16px;
			border: none;
			outline: none;
			appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			-moz-appearance: none;
			position: relative;
			z-index: 1;
			background: transparent;
			cursor: pointer;
			// pointer-events: none

			option {
				background-color: rgba(23, 20, 41, 0.5);
			}
		}

		// .location-dropdown {
		// 	color: #ffffff;
		// 	background-color: inherit;
		// 	width: 115px;
		// 	height: 30px;
		// 	border: 1.5px solid #ffffff;
		// 	box-sizing: border-box;
		// 	border-radius: 5px;
		// 	outline: none;

		// 	font-style: normal;
		// 	font-weight: normal;
		// 	line-height: 14px;

		// 	text-align-last: center;

		// 	option {
		// 		background-color: rgba(23, 20, 41, 0.5);
		// 	}
		// }

		i {
			position: absolute;
			top: 25%;
			right: 15px;
			transition: 0.5s;
		}
	}

	.search-wrapper {
		display: flex;
		place-items: center;

		.searchIcon {
			padding: auto;
			margin-right: 12px;
		}

		input {
			color: #ffffff;
			background-color: inherit;
			border: none;
			box-sizing: border-box;
			border-radius: 5px;
			width: 400.5px;
			outline: none;
			padding: 8px;
			border: 1.5px solid #ffffff;

			&:focus,
			&:active {
				border: 1.5px solid #ffffff;
			}

			&::placeholder {
				font-style: normal;
				font-weight: normal;
				line-height: 14px;
			}
		}
	}

	.nav-link {
		padding: 8px 16px;
		border: none;
		border-radius: 20px;
		transition: 0.2s;
	}

	.nav-icon {
		border: none;
		color: var(--color-secondary-3);
		background: transparent;
	}

	.icon {
		font-size: 20px;
	}

	.activeLink {
		color: var(--color-primary-1);
		background: var(--color-secondary-3);
	}

	.activeIcon {
		background: var(--color-secondary-3);
	}

	.profileDropdown {
		position: relative;
		color: var(--color-secondary-3);
		font-size: 16px;
		pointer-events: auto;

		&:focus-within .profileOptions {
			opacity: 1;
			pointer-events: auto;
		}

		.icon {
			cursor: pointer;
		}

		.profileOptions {
			position: absolute;
			z-index: 2;
			top: 55px;
			left: 50%;
			transform: translateX(-50%);
			color: white;
			background-color: var(--color-primary-2);
			padding: 20px 30px;
			width: 250px;
			border-radius: 10px;
			// box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
			opacity: 0;
			transition: opacity 0.15s ease-out;
			pointer-events: none;

			.profileDetails {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img {
					width: 64px;
					border-radius: 50%;
				}

				h3 {
					font-size: 22px;
					font-weight: 500;
					margin: 15px auto;
				}
			}

			hr {
				color: var(--color-grey-3);
			}

			.profileLinks {
				li {
					list-style: none;
					text-align: center;
					margin-top: 12px;
					width: 100%;

					a {
						display: inline-block;
						padding: 6px;
						width: 100%;
						border-radius: 5px;
						transition: 0.1s;

						&:hover {
							background-color: var(--color-primary-3);
							// border: 1px solid var(--color-secondary-3);
						}
					}
				}
				li.logout {
					color: var(--color-semantic-1);
					padding: 6px;
					border-radius: 5px;
					transition: 0.1s;

					&:hover {
						cursor: pointer;
						background-color: var(--color-semantic-2);
					}
				}
			}
		}
	}

	.btn {
		color: #171429;
		background: var(--color-secondary-3);
		padding: 8px 32px;
		border: none;
		border-radius: 5px;
	}
}
