.banner-carousel {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	// height: 450px;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
	// overflow: hidden;

	img.banner {
		display: block;
		object-fit: scale-down;
		height: auto;
		max-width: 100%;
		max-height: 450px;
		border-radius: 10px;
		margin: auto;
	}

	.prev,
	.next {
		position: absolute;
		top: 50%;
		width: 28px;
		height: 28px;
		background: var(--color-secondary-3);
		border: none;
		border-radius: 50%;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
		outline: none;
		transition: 0.2s;
	}
	.prev:hover,
	.next:hover {
		cursor: pointer;
		box-shadow: 0 0 4px white;
	}

	.prev {
		left: 20px;
	}

	.next {
		right: 20px;
	}
}
