.hero {
	display: flex;
	// justify-content: space-between;
	.left {
		flex-basis: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 46px;
	}

	.right {
		flex-basis: 200px;
		margin-right: 46px;
	}
}
