.hostCard {
	// display: flex;
	// justify-content: center;
	color: #ffffff;
	background: var(--color-primary-2);
	font-family: 'Montserrat', sans-serif;
	padding: 2rem 3rem;
	border-radius: 10px;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
	max-width: 300px;
	// height: 400px;

	&__pic {
		border-radius: 50%;
		width: 90px;
		height: 90px;
		margin-bottom: 1.5rem;
	}

	&__role {
		text-align: center;
		width: 83.41px;
		height: 26.75px;
		background: #39eab4;
		border-radius: 5px;
	}

	&__name {
		font-size: 16px;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	&__category {
		font-size: 12px;
		line-height: 12px;
		text-transform: capitalize;
		margin-bottom: 1rem;
	}

	&__about {
		color: var(--color-text-2);
		text-align: center;
		// text-align: justify;
		font-size: 14px;
		line-height: 168.8%;
		width: 100%;
	}
}
