.ticket-card {
	color: var(--color-text-2);
	background-color: var(--color-primary-2);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	font-family: 'Kumbh Sans', sans-serif;
	width: 100%;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
	// height: 429.25px;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 15px;
		height: 100%;

		.category {
			font-weight: bold;
			font-size: 13px;
			line-height: 13px;
			// padding-bottom: 21px !important;
		}

		.eventname {
			display: flex;
			flex-direction: column;
			font-weight: bold;
			font-size: 24px;
			line-height: 135.9%;
			margin: 20px 0;
			width: 242px;

			.hostname {
				text-transform: uppercase;
			}
		}

		.datewrapper {
			margin-bottom: 1rem;

			.text {
				font-weight: 300;
				font-size: 10px;
				line-height: 10px;
			}

			.eventdate {
				font-weight: bold;
				font-size: 16px;
				line-height: 16px;
				margin-top: 11px;
				color: var(--color-secondary-3);
			}
		}

		.start-time {
			.text {
				font-weight: 300;
				font-size: 10px;
				line-height: 10px;
			}

			.time {
				font-weight: bold;
				font-size: 16px;
				line-height: 16px;
				margin-top: 11px;
				color: var(--color-semantic-2);
			}
		}

		hr {
			color: var(--color-grey-3);
			margin: 20px 0;
		}

		.lower {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.entry-fee {
				display: flex;
				flex-direction: column;

				.text {
					font-weight: 300;
					font-size: 10px;
					line-height: 10px;
				}

				.fee {
					font-weight: bold;
					font-size: 16px;
					line-height: 16px;
					color: var(--color-secondary-3);
					margin-top: 9px;
				}
			}

			.starts-in {
				display: flex;
				flex-direction: column;

				.text {
					font-weight: 300;
					font-size: 10px;
					line-height: 10px;
				}

				.timer {
					font-weight: bold;
					font-size: 16px;
					line-height: 16px;
					color: var(--color-semantic-3);
					margin-top: 9px;
				}
			}
		}

		.register-button {
			text-align: center;
			color: var(--color-primary-2);
			background: var(--color-secondary-3);
			font-weight: bold;
			font-size: 16px;
			line-height: 16px;
			cursor: pointer;
			padding: 10px;
			border: none;
			border-radius: 10px;
			width: 100%;
			margin-top: 1rem;
			transition: all 0.2s;

			&:hover,
			&:focus {
				box-shadow: 0 0 0 2px var(--color-primary-5);
			}
		}
	}
}
