.eventsPage {
	background-color: var(--color-primary-1);

	&__content {
		// display: grid;;
		// justify-content: center;
		// justify-self: center;
		// grid-template-columns: 400px 1fr;
		margin: 50px auto;
		padding: 0 4vw;
	}
}
