.myCarousel{
	width:600px;
	height: 600px;

	.carousel-root{
		div:nth-of-type(2){
			display: none;
		}
	}
	div,li,.slider{
		width: 100%;
		height: 100%;
	}
	.pic{
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--color-primary-2);
		border-radius: 10px;
	}	
	.slider img{
		min-width: 0;
		min-height: 0;
		max-width: 600px;		
		max-height: 600px;
		width: initial !important;
	}
}

.myNext{
	position: absolute;
    z-index: 20;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
	cursor: pointer;
	background-color: transparent;
	border: none;
    right: 0px;
}


.myPrev{
	position: absolute;
    z-index: 20;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	// right: 15px;
	left:0px;
}

.eventcarousel{
	background-color: var(--color-primary-1);
	width: 829.5px;
	// height: 445px;
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
	border-radius: 10px;

	&__imgdiv{
	margin-top: -1rem;
	margin-left: -1rem;
	width: 829.5px;
	height: 445px;
	}

	&__img{

	}

	&__prevlink{

	}

	&__previcon{
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background: #39EAB4;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
		background-image: none;
	}

	&__nextlink{
		
	}

	&__nexticon{
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background: #39EAB4;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
		background-image: none;
	   
	}
  

	&__rules{
		display: flex;
		margin-top: 52.17px;
		background-color: var(--color-primary-1);
		&--rule{
			font-family: 'Kumbh Sans', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 16px;
			color: #E6E4F2;

		 &:last-child{
		  img{
					display: none;
				}
			}

		  &:not(:last-child){
			margin-right: 21.46px;
		  }  
		}

		&--dot{

			margin-left: 13.47px;

		}
	}
}
