.headersection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-text-2);
	background-color: var(--color-primary-2);
	font-family: 'Kumbh Sans', sans-serif;
	padding: 20px 4vw 20px 400px;

	&__left {
		&--about {
			font-size: 16px;
			line-height: 16px;
			color: var(--color-secondary-3);
		}

		&--activity {
			margin-left: 54px;
			font-size: 16px;
			line-height: 16px;
		}
	}

	&__right {
		&--link {
			margin-left: 1.25rem;
		}

		&--icon {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}

@media screen and (max-width: 1024px) {
	.headersection {
		flex-direction: column-reverse;
		gap: 1rem;
		padding-left: 4vw;
	}
}
