.profilecard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;
	color: var(--color-text-2);
	background: var(--color-primary-2);
	padding: 30px 24px;
	border-radius: 10px;
	width: 320px;
	margin: auto;
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.45);

	hr {
		border: 1px solid var(--color-grey-3);
		width: 100%;
	}

	&__mid {
		text-align: center;
		margin: 20px auto;
		width: 100%;

		&--pic {
			margin-bottom: 2rem;
			width: 130px;
			border-radius: 50%;
		}
	}

	hr {
		border: 1px solid var(--color-grey-3);
		width: 100%;
		margin-top: 20px;
	}

	&__lower {
		width: 100%;
		margin: 20px auto;

		&--item {
			width: 100%;
			margin-top: 2rem;
		}

		&--icon {
			margin-left: 2rem;
			width: 24px;
			height: 24px;
		}

		&--text {
			margin-left: 58.48px;
			/* identical to box height */
		}
	}
}

#profile__lower--locationtext {
	color: #1da1f2;
}

@media screen and (max-width: 1024px) {
	.profilecard {
		width: 100%;
		max-width: 320px;
	}
}
