.searchPage {
	background-color: #171429;

	&__content {
		display: grid;
		background-color: var(--color-primary-1);
		grid-template-columns: 400px 1fr;
		&--filter {
			margin-top: -170px;
			margin-left: 30px;
		}

		&--events {
			margin-top: 20px;
			width: 100%;

			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 80px;
			.eventsGrid {
				display: grid;
				width: 90%;
				justify-items: center;
				grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
			}
		}
	}

	&_carousel {
		position: relative;
		z-index: 10;
		background-color: red;
		padding-bottom: 30px;
		padding-top: 10px;
		background: linear-gradient(360deg, #524690 -64.51%, #171429 100%);
	}

	&_footer {
		position: relative;
		z-index: 10;
	}
}

@media (max-width: 870px) {
	.searchPage {
		.upper {
			&__container {
				margin-left: 0px;
				&--head {
					margin-left: 40%;
				}
			}
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			&--filter {
				margin-top: 20px;
				width: 100%;
				display: flex;
				margin-left: 0;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.filter {
					width: Min(87vw, 450px);
					overflow-x: auto;

					&::-webkit-scrollbar {
						width: 0px;
						height: 1px;
					}
					&::-webkit-scrollbar-track {
						background: var(--color-primary-1);
					}

					&::-webkit-scrollbar-thumb {
						background: rgb(82, 70, 144);
					}

					display: grid;
					grid-template-columns: 0.4fr 1fr 1fr 0.8fr;
					height: 44px;
					padding: 10px 8px;
					padding-top: 6px;
					position: unset;

					&__head {
						// display: none;
						border: none;
						margin-right: 16px;
						&--main {
							display: none;
						}
						&--sub {
							position: relative;
							top: 9px;
							font-size: 13px;
						}
					}

					&__calender {
						.datesToFrom {
							display: none;
						}
					}
					&__type {
						// margin-right: 30px;
						margin-right: 16px;

						border: none;
					}

					&__subtype {
						margin-top: 10px;
						margin-bottom: 10px;
					}

					&__calender {
						margin-right: 16px;
					}

					&__checkbox {
						width: Min(100vw, 400px);
						margin-top: 20px;
						background-color: #2b244d;
						box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
						padding: 15px 10px;
						border-radius: 10px;
					}
				}
			}
		}
	}
}

.search_header {
	height: 209px;
	background: #2b244d;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	.heading {
		width: 230px;
		height: 28px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 50px;
		color: #39eab4;
		// position: absolute;
		// left:370px;
	}
}
