.eventHistory {
	&__upcoming,
	&__attended {
		padding: 20px 0;

		&__events {
			padding: 20px 0;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		background-color: var(--color-primary-2);
		border-radius: 10px;
		padding: 1rem;
		margin-top: 1rem;

		.field {
			margin: 0.5rem 0;
		}

		.field-name {
			color: var(--color-secondary-1);
			font-size: 14px;
		}

		h5 {
			margin-bottom: 1rem;
		}
		p {
			margin-bottom: 0.5rem;
		}
	}
}
