.explore {
	position: relative;
	display: flex;
	flex-direction: column;
	// justify-content: center;
	// align-items: center;
	// align-content: center;
	color: var(--color-text-2);
	background-image: radial-gradient(
		var(--color-primary-2) 10%,
		var(--color-primary-1) 90%
	);
	height: 800px;
	overflow-x: hidden;

	.section-name {
		text-align: center;
		font-size: 2rem;
		font-weight: 500;
		margin-top: 120px;
	}

	.categories {
		margin: 90px 0;

		.category {
			position: relative;
			text-align: center;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 20px;
			box-shadow: 0 0 10px var(--color-grey-1);
			border-radius: 10px;
			height: 320px;
			width: 320px;

			p {
				position: absolute;
				bottom: 22px;
				left: 50%;
				font-size: 1.25rem;
				transform: translateX(-50%);
			}
		}
	}

	.rec.rec-arrow {
		background: var(--color-secondary-3);
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
		font-size: 1rem;
		border: none;

		&:focus {
			color: #333;
			background-color: var(--color-secondary-3);
		}

		&:hover,
		&:active {
			background-color: var(--color-secondary-3);
			border: none;
			outline: none;
		}
	}
}
