.landing-hero {
	// overflow: hidden;
	height: 550px;

	.highlight {
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		color: white;
		padding: 80px;
		height: 100%;

		.highlight-text h1 {
			overflow-wrap: break-word;
			text-shadow: 0 0 8px var(--color-primary-1);
		}
	}

	.prev,
	.next {
		position: absolute;
		top: 160px;
		width: 28px;
		height: 28px;
		background: var(--color-secondary-3);
		border-radius: 50%;
		box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
		transition: 0.2s;
	}

	.prev {
		left: 2vw;
	}

	.next {
		right: 2vw;
	}

	.prev:hover,
	.next:hover {
		box-shadow: 0 0 4px white;
	}
}

@media screen and (max-width: 1024px) {
	.landing-hero {
		.highlight {
			padding: 40px;
		}
	}
}
