.imageUpload{
    button{
        width: 131px;
        height: 37px;
        background: rgba(57, 234, 180, 0.35);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-right: 15px;
    
        color: #39EAB4;
        
        border: none;

        &:hover{
            cursor: pointer;
        }
    }
}

.doCrop{
    // background-color: rgba(255, 255, 255, 0.082);
    background:rgba(1,1,1,0.5);
    // margin-bottom: 40px;
}

input[type="file"]{
    display: none;
}

.image{
    // background: rgba(57, 234, 180, 0.35);
    color: #E6E4F2;
    background: rgba(230, 228, 242, 0.2);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    // background-color: ;
    padding: 7px 7px;
    border-radius: 15px;
}

.squareInfo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    color: #E6E4F2;
    text-align: center;
}